/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 1.5;
letter-spacing: 0.04em;
}

.search-input {
  box-sizing: border-box;
  width: 272px;
  height: 40px;  
  border-radius: 4px;
  background-color: transparent;
  outline: 0px solid transparent;
  border: 1px solid #808080;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.search-input:hover {
  border: 1px solid #000;
}
.search-input:active {
  border: 1px solid #4E75FF;
  color: #000
}
.search-input:disabled {
  color: #808080;
}

.search-btn { 
  width: 91px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #4E75FF;
  font-family: "Montserrat", sans-serif;
  color: #fff;  
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.search-btn:hover {
  background-color:  #6c8cff;
}

.search-btn:disabled {
  background: #cfcfcf;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #989898;
}

.search-images-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.gallery-section {
  display:flex;
  flex-direction: column;
}

.gallery {
  max-width: 1128px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin: 20px auto;
}

.gallery-item {
  box-sizing: border-box;
  max-width: 360px;
border: 1px solid #808080;
transition: transform 250ms linear;
}

.gallery-item:hover {
  transform: scale(105%);
}
.gallery-data{
display:flex;
justify-content: space-around;
padding-top: 8px;
}

.gallery-item-data {
display: flex;
flex-direction: column;
justify-content: center;
}

.gallery-item-data-title {
font-weight: 600;
font-size: 12px;
line-height: 1.33333;
letter-spacing: 0.04em;
}

.gallery-item-data-value {
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
text-align: center;
}

.gallery-image{
  width: 360px;
  height: 152px;
object-fit: cover;
}

.hw-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  }

  .loader-container { 
    display: none;
  }
  .active{
    display: flex;
    justify-content: center;
  }


  .loader {
    display: flex;
    width: 48px;
    height: 48px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    animation: roll 1s ease-in-out infinite alternate;
  }
  .loader:after{
    content:"";
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: 5px solid ;
    border-color: #ff3d00 transparent;
  }
  @keyframes roll {
    0% {
      transform: translateX(-150%) rotate(0deg) ;
    }
    100% {
      transform:  translateX(150%) rotate(360deg);
    }
  }


 